<div class="wrapper row">

 
    <div class="d-md-inline-flex col col-sm-3">
      <img class="IconsHome-Fill" src="../../assets/icons/icons-home-fill@2x.png" ><br>
      <span class="Home">Home</span>
    </div>
 
   
    <div class="d-md-inline-flex col col-sm-3">
     <img class="IconsMy-refunds" src="../../assets/icons/icons-my-refunds@2x.png"><br>
     <span class="My-Refunds">MyRefunds</span>
    </div>

    <div class="d-md-inline-flex col col-sm-3">
      <img class="IconsProfile" src="../../assets/icons/icons-profile@2x.png" ><br>
      <span class="Profile">Profile</span>
    </div>

    <div class="d-md-inline-flex col col-sm-3">
     <img class="IconsMore" src="../../assets/icons/icons-more@2x.png" ><br>
      <span class="More">More</span>
    </div>


</div>


